<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SgaGestionAcceso.WEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="ConexionGestionAcceso" />
  <connectionStrings>
    <!--<add name="ConexionGestionAcceso" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SGA_GestionAcceso;Data Source=MDES02-011\MSSQLSERVER2008"
    providerName="System.Data.SqlClient" />-->
    <add name="ConexionGestionAcceso" connectionString="Initial Catalog=SGA_GestionAcceso;Data Source=.;user id=sa;password=Peru123.;" providerName="System.Data.SqlClient" />
    <add name="SGA_GestionAccesoEntities" connectionString="metadata=res://*/SGA_GestionAcceso.csdl|res://*/SGA_GestionAcceso.ssdl|res://*/SGA_GestionAcceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SGA_GestionAcceso;user id=sa;password=Peru123.;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
	  <add key="sDE_RUTA_SERV" value="http://synopsis-8747f7:8080/ReportServer" />
	  <add key="sDE_RUTA_CARP" value="/SGA/" />
	  <add key="DireccionFrmBienvenido" value="~/Login/frmBienvenido.aspx" />
	  <add key="DireccionFrmLogin" value="~/Login/frmLogin.aspx" />
	  <add key="DireccionFrmSolicitudAccesoSeguim" value="~/Solicitud/frmSolicitudAccesoSeguim.aspx" />
	  <add key="MSG_ERROR_GENERAL" value="Ha ocurrido un error. Por favor contacte al administrador del sistema." />
	  <add key="MSG_LOGOUT" value="¿Esta seguro que desea salir de la aplicación?" />
	  <add key="MSG_APLICACION_PUESTO_EXISTE" value="la Aplicacion y puesto ya se encuentran registrados para esta Persona." />
	  <add key="MSG_SOLICITUD_ACCESO_REGISTRADO_EXITOSAMENTE" value="La Solicitud de Acceso ha sido registrada Exitosamente." />
	  <add key="MSG_SOLICITUD_ACCESO_ACTUALIZADO_EXITOSAMENTE" value="La Solicitud de Acceso ha sido Actualizada Exitosamente." />
	  <add key="MSG_PERSONA_NOEXISTE" value="La Persona buscada no existe." />
	  <add key="MSG_ERROR_GUARDARDETSOLI_ELIMINAR" value="Primero Debe de Guardar la Solicitud y el Detalle para poder Eliminar la Aplicacion y Puesto." />
	  <add key="MSG_ERROR_GUARDARDETALLE_ELIMINAR" value="Primero Debe de Guardar la Solicitud y el Detalle para poder completar la operación." />
	  <add key="MSG_SESSION_SOLICITUD_EXPIRADA" value="La session de la Solicitud ha expirado, por favor vuelva a registrar los datos." />
	  <add key="MSG_SIN_DETALLEAPLICACION_PUESTO" value="No se puede registrar la Solicitud porque no existe ningun detalle de Aplicacion Puesto." />
	  <add key="MSG_SIN_DETALLESOLICITUD" value="No se puede registrar la Solicitud porque no existe ningun detalle." />
	  <add key="NOMBRE_USUARIO_NOLOGIN" value="Usuario no Logeado." />
	  <add key="MSG_USUARIO_NO_AUTORIZADOR" value="No se puede Validar la operacion porque el usuario logeado no es Autorizador." />
	  <add key="EDAD_MAYOR_EDAD" value="18" />
	  <add key="MSG_VALIDACION_OK" value="La Solicitud fue validada Correctamente." />
	  <add key="MSG_VALIDACION_NOK" value="La Solicitud no fue validada Correctamente." />
	  <add key="MSG_GEN_VALIDADOR_OK" value="Se genero el validador Correctamente, por favor descarge los validadores." />
	  <add key="MSG_GEN_VALIDADOR_NOK" value="No se Genero el validador correctamente." />
	  <add key="MSG_APROVISIONAMIENTO_OK" value="La Solicitud fue Aprovisionada Correctamente." />
	  <add key="MSG_APROVISIONAMIENTO_NOK" value="La Solicitud no fue Aprovisionada Correctamente." />
	  <add key="MSG_WS_RENIEC_PERSO_NOENC" value="Persona no encontrada" />
	  <add key="MensajeEliminarRegistro" value="¿Desea anular el registro?" />
	  <add key="ItemSeleccione" value="--Seleccione--" />
	  <add key="ItemTodos" value="--Todos--" />
	  <add key="ItemNinguno" value="--Ninguno--" />
	  
	  <add key="RegistroporPagina" value="10" />
	  <add key="RegistroporPaginaDetalleSol" value="10" />
	  <add key="MensajeErrorLoginPermiso" value="Lo sentimos, pero usted no cuenta con permisos para ingresar." />
	  <add key="MensajeErrorLogin" value="Lo sentimos, por favor verifique que los datos ingresados sean correctos." />
	  <add key="MensajeTitulo" value="SGA Sistema de Gestion de Accesos" />
	  <add key="CertificadoOriginal" value="C:\inetpub\wwwroot\WebApplication1_deploy\TransientStorage\cert" />
	  <add key="RepositorioCertificados" value="C:\inetpub\wwwroot\WebApplication1_deploy\TransientStorage" />
	  <add key="MSG_AGENCIA_ACTUALIZADO_EXITOSAMENTE" value="La Agencia ha sido Actualizada Exitosamente." />
	  <add key="MSG_AGENCIA_REGISTRADO_EXITOSAMENTE" value="La Agencia ha sido registrada Exitosamente." />
	  <add key="MSG_SUCURSAL_ACTUALIZADO_EXITOSAMENTE" value="La Sucursal ha sido Actualizada Exitosamente." />
	  <add key="MSG_SUCURSAL_REGISTRADO_EXITOSAMENTE" value="La Sucursal ha sido registrada Exitosamente." />
	  <add key="DirecionFrmAgenciaConsulta" value="~/AgenciaSucursal/frmAgenciaConsulta.aspx" />

	  <add key="MSG_ERROR_AGENCIA_ELIMINAR" value="No se puede eliminar la Agencia porque tiene Sucursales Relacionadas." />
	  <add key="MSG_ERROR_PERSONA_ELIMINAR" value="No se puede eliminar la Persona porque se encuentra en uso." />
	  <add key="MSG_ERROR_AUTORIZANTE_ELIMINAR" value="No se puede eliminar el Autorizante porque se encuentra en uso." />
	  
	  <add key="MSG_PERSONA_ACTUALIZADO_EXITOSAMENTE" value="La Persona ha sido Actualizada Exitosamente." />
	  <add key="MSG_PERSONA_REGISTRADO_EXITOSAMENTE" value="La Persona ha sido registrada Exitosamente." />
	  <add key="DirecionFrmPersonaConsulta" value="~/Persona/frmPersonaConsulta.aspx" />
	  <add key="MSG_PERSONA_YA_REGISTRADA" value="La Persona con el DNI {0} ya se encuentra registrada." />
	  <add key="MSG_APLIAUTORIZANTE_ACTUALIZADO_EXITOSAMENTE" value="La Aplicacion Autorizante ha sido Actualizada Exitosamente." />
	  <add key="MSG_APLIAUTORIZANTE_REGISTRADO_EXITOSAMENTE" value="La Aplicacion Autorizante ha sido registrada Exitosamente." />
	  <add key="DirecionFrmAplicaAutoConsulta" value="~/AplicacionAutorizante/frmAplicacionAutorizanteConsulta.aspx" />
	  <add key="DirecionFrmRolConsulta" value="~/Rol/frmRolConsulta.aspx" />
	  <add key="DirecionFrmAutorizadorConsulta" value="~/Autorizante/frmAutorizanteConsulta.aspx" />
	  <add key="DirecionFrmMenuConsulta" value="~/Menu/frmMenuConsulta.aspx" />
	  <add key="DirecionFrmPermisoMenuConsulta" value="~/Permisos/frmPermisoMenuConsulta.aspx" />
	  
	  <add key="MSG_ROL_ACTUALIZADO_EXITOSAMENTE" value="El Rol ha sido Actualizada Exitosamente." />
	  <add key="MSG_ROL_REGISTRADO_EXITOSAMENTE" value="El Rol ha sido registrada Exitosamente." />

	  <add key="MSG_AUTORIZADOR_ACTUALIZADO_EXITOSAMENTE" value="El Autorizador ha sido Actualizado Exitosamente." />
	  <add key="MSG_AUTORIZADOR_REGISTRADO_EXITOSAMENTE" value="El Autorizador ha sido registrado Exitosamente." />
	  <add key="MSG_AUTORIZANTE_YA_REGISTRADO" value="El Autorizante {0} ya se encuentra registrado." />

	  <add key="MSG_MENU_ACTUALIZADO_EXITOSAMENTE" value="El Menu ha sido Actualizado Exitosamente." />
	  <add key="MSG_MENU_REGISTRADO_EXITOSAMENTE" value="El Menu ha sido registrado Exitosamente." />
	  <add key="MSG_MENU_ELIMINADO_EXITOSAMENTE" value="El Menu ha sido Eliminado Exitosamente." />
	  <add key="MSG_ERROR_MENU_DEBE_SELECCIONAR_UN_MENU" value="Debe Seleccionar un Menu." />
	  <add key="MSG_ERROR_MENU_NO_SE_PUEDE_ELIMINAR_TIENE_HIJOS" value="Menu no se puede eliminar porque tiene Hijos Relacionados." />
	  <add key="MSG_ERROR_MENU_NO_SE_PUEDE_ELIMINAR_USUARIO_EXISTEN_PERMISOS_OBJETO" value="Menu no se puede eliminar porque existen permisos asignados." />
	  <add key="MSG_PERMISOMENU_ACTUALIZADO_EXITOSAMENTE" value="El Permiso Menu ha sido Actualizado Exitosamente." />
	  <add key="MSG_PERMISOMENU_REGISTRADO_EXITOSAMENTE" value="El Permiso Menu ha sido registrado Exitosamente." />
	  <add key="MSG_ERROR_PERMISO_MENU_NO_SE_PUEDE_ELIMINAR_POR_PERMISOS_HIJOS"
          value="No se puede eliminar el Permiso del Menu seleccionado debido a que sus Menus hijos aun tienen Permiso." />
	  <add key="MSG_PERMISOUSUARIO_REGISTRADO_EXITOSAMENTE" value="El Permiso Usuario ha sido registrado Exitosamente." />
	  <add key="DirecionFrmUsuarioConsultaPU" value="../Usuario/frmUsuarioConsulta.aspx" />
	  <add key="DirecionFrmUsuarioConsulta" value="~/Usuario/frmUsuarioConsulta.aspx" />
	  <add key="MSG_COPIA_PERMISOS_EXITOSA" value="La copia de permisos se realizó exitosamente." />
	  <add key="MSG_ERROR_COPIA_PERMISOS" value="No se pudo copiar los permisos del usuario {0} debido a que no existe o esta inactivo." />
	  <add key="MSG_USUARIO_ACTUALIZADO_EXITOSAMENTE" value="El Usuario se actualizó exitosamente." />
	  <add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_USUARIO_EXISTEN_PERMISOS_USUARIO"
          value="No se puede eliminar el Usuario seleccionado debido a que existen permisos asociados." />
	  <add key="MSG_USUARIO_ELIMINADO_EXITOSAMENTE" value="El Usuario se eliminó exitosamente." />
	  <add key="MSG_ERROR_NO_SE_PUEDE_ELIMINAR_USUARIO" value="No se puede eliminar el Usuario seleccionado. Ingrese a la opción de modificación para cambiarle el estado a inactivo." />

	  <add key="MSG_USUARIO_ACTUALIZADO_EXITOSAMENTE" value="El Usuario ha sido Actualizada Exitosamente." />
	  <add key="MSG_USUARIO_REGISTRADO_EXITOSAMENTE" value="El Usuario ha sido registrada Exitosamente." />
	  <add key="MSG_USUARIO_YA_REGISTRADO" value="El Usuario {0} ya se encuentra registrado." />
  </appSettings>
  <log4net>
	  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="C:\Logs\SGA" />
		  <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		  <appendToFile value="true" />
		  <rollingStyle value="Composite" />
		  <datePattern value="-yyyy-MM-dd'.log'" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="10MB" />
		  <param name="StaticLogFileName" value="false" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %-5level - %message%newline" />
		  </layout>
	  </appender>
	  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		  <layout type="log4net.Layout.PatternLayout">
			  <param name="Header" value="[Header]\r\n" />
			  <param name="Footer" value="[Footer]\r\n" />
			  <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
		  </layout>
	  </appender>
	  <root>
		  <level value="DEBUG" />
		  <appender-ref ref="RollingLogFileAppender" />
		  <appender-ref ref="ConsoleAppender" />
	  </root>
  </log4net>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" loginUrl="~/Login/frmLogin.aspx" name=".ASPXAUTH" path="/" defaultUrl="~/Login/frmBienvenido.aspx" protection="All" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <location path="Recursos">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <SgaGestionAcceso.WEB.Properties.Settings>
      <setting name="SgaGestionAcceso_WEB_WsReniec_WsReniec" serializeAs="String">
        <value>http://localhost:8081/wsreniec.asmx</value>
      </setting>
      <setting name="SgaGestionAcceso_WEB_WsReniec1_WsReniec" serializeAs="String">
        <value>http://localhost:8081/wsreniec.asmx</value>
      </setting>
    </SgaGestionAcceso.WEB.Properties.Settings>
  </applicationSettings>
</configuration>