<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SGA_GestionAccesoEntities" connectionString="metadata=res://*/SGA_GestionAcceso.csdl|res://*/SGA_GestionAcceso.ssdl|res://*/SGA_GestionAcceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SGA_GestionAcceso;user id=sa;password=*intergrupo123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>